{
    "$schema": "https://swc.rs/schema.json",
    "jsc": {
        "target": "es2022",
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": true,
            "dynamicImport": true
        },
        "baseUrl": "./",
        "loose": false,
        "minify": {
            "compress": false,
            "mangle": false
        },
        "transform": {
            "legacyDecorator": true,
            "decoratorMetadata": true
        }
    },
    "sourceMaps": true,
    "minify": false,
    "module": {
        "type": "nodenext"
    }
}
